/* General */
body {
    --dark-blue: #004D99;
    --light-blue: #1687ED;
    --teal: #009999;
    --title-font: 'Kurale', serif;
    --name-font: 'Josefin Sans', sans-serif;
}
nav .wrapper {
    max-width: 1200px;
    margin: auto;
    width: 95%;
}
section .wrapper {
    max-width: 1000px;
    margin: auto;
    width: 95%;
    border-bottom: 2px solid var(--light-blue);
    padding-top: 5vw;
    padding-bottom: 5vw;
}
section li {
    color: var(--teal);
}
h3 {
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--title-font);
    color: var(--dark-blue);
    font-size: 2rem;
}
p {
    color: var(--teal);
}

/* Navigation Bar */
nav {
    background-color: var(--dark-blue);
    min-height: 5vh;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav a {
    color: whitesmoke;
    text-decoration: none;
    vertical-align: middle;
    font-family: var(--name-font);
    font-size: 1.3rem;
    
}
.nav a.nav-active {
    color: var(--teal);
}
.nav a:hover {
    color: var(--teal);
}
.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -5em;
}
@media (max-width: 35.5em) {
    .anchor {
        top: -9em;
    }
}

/* Hero */
.hero {
    background-color: var(--dark-blue);
    background: linear-gradient(130deg, var(--light-blue), var(--dark-blue));
    background: -webkit-linear-gradient(130deg, var(--light-blue), var(--dark-blue));
}

@media (max-width: 35.5em) {
    .hero {
        padding-top: 9em;
        padding-bottom: 3em;
    }
}
.hero .wrapper {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
}
@media (max-width: 35.5em) {
    .hero .wrapper {
        height: calc(100vh - 12em);
    }
}
#titles {
    font-family: var(--name-font);
}
h1 {
    font-size: calc(2rem + 8vh);
    font-family: var(--title-font);
    margin-top: 0;
    margin-bottom: 0.5em;
}
h2 {
    font-size: calc(1rem + 4vh);
    margin-top: 0;
    margin-bottom: 0;
}

/* About Me */

p.padded {
    padding-left: 3vw;
    padding-right: 3vw;
}
#headshot {
    border-radius: 30%;
    max-height: 12rem;
    max-width: 12rem;
}
.about-me h3 {
    padding-left: 3vw;
}
/* Skills */
.checklist {
    list-style-type: none;
    font-size: 1.1rem;
    line-height: 1.7rem;
    display: block;
    padding-left: 20px;
    padding-right: 10px;
}
li span {
    margin-right: 4px;
}
button {
    padding: 10px;
    border: 3px solid var(--dark-blue);
    background-color: white;
    color: var(--dark-blue);
    margin-left: 20px;
    display: inline-block;
}
button:hover {
    background-color: var(--teal);
    border-color: var(--teal);
    color: white;
}

.logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.logos img {
    height: calc(2em + 2vw);  
}
.logos .logos {
    margin-top: 15px;
}

/* Projects */

.project {
    margin-top: 3vw;
}
.project-title {
    padding: 0;
}
/*
.mockup img {
    margin: auto;
}
.project-title {
    text-align: center;
}*/
