/*  Colors:
    Dark-Blue: #004D99
`   Light-Blue: #1687ED
    Teal: #009999
    
    Fonts:
    Title-Font: 'Kurale', serif
    Name-Font: 'Josefin Sans', sans-serif
*/


/* General */
body {
    font-family: sans-serif;
}
nav .wrapper {
    max-width: 1200px;
    margin: auto;
    width: 95%;
}
section .wrapper {
    max-width: 1100px;
    margin: auto;
    width: 95%;
    border-bottom: 2px solid #1687ED;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
section li {
    color: #009999;
}
h3 {
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Kurale', serif;
    color: #004D99;
    font-size: 2rem;
    line-height: 25px;
}
p {
    color: #009999;
}
.padded {
    padding-left: 3vw;
    padding-right: 3vw;
}
.italic {
    font-style: italic;
}
sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

/* Navigation Bar */
nav {
    background-color: #004D99;
    min-height: 5vh;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav ul {
    padding-left: 0;
}
.nav a {
    color: whitesmoke;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
}
.nav a.nav-active {
    text-decoration: underline;
}   
.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -5em;
}
@media (max-width: 35.5em) {
    .anchor {
        top: -9em;
    }
}

/* Hero */
.hero {
    background-color: #004D99;
    background: linear-gradient(130deg, #004D99, #1687ED);
}

@media (max-width: 35.5em) {
    .hero {
        padding-top: 9em;
        padding-bottom: 3em;
    }
}
.hero .wrapper {
    height: 100vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: whitesmoke;
}
@media (max-width: 35.5em) {
    .hero .wrapper {
        height: calc(100vh - 12em);
    }
}
#titles {
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
    font-size: calc(3rem + 4vw);
    font-family: 'Kurale', serif;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: calc(3rem + 4vw);
}
h2 {
    font-size: calc(1.5em + 2vw);
    margin-top: 0;
    margin-bottom: 0;
}

/* About Me */

#headshot {
    max-width: 12rem;
    margin-bottom: 20px;
}
.about-me h3 {
    padding-left: 3vw;
}
li a {
    color: #009999;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}
.about-text span {
	color: #004D99;
    padding-left: 2vw;
    font-size: 1.3rem;
}

/* Skills */
.checklist {
    list-style-type: none;
    font-size: 1.1rem;
    line-height: 1.7rem;
    display: block;
    padding-left: 20px;
    padding-right: 10px;
}
li span {
    margin-right: 5px;
}
.button {
    padding: 10px;
    border: 3px solid #004D99;
    background-color: white;
    color: #004D99;
    margin-left: 15px;
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    left: -1vw;
}
.button:not(.no-hover):hover {
    background-color: #009999;
    border-color: #009999;
    color: white;
    cursor: pointer;
}

.logos {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.logos img {
    height: calc(2em + 2vw);  
}
.logos .logos {
    margin-top: 15px;
}

/* Projects */

.project {
    margin-top: 3vw;
}
.project-title {
    padding: 0;
}
.mockup {
    box-sizing: border-box;
    padding-right: 25px;
    margin-bottom: 20px;
}
.mockup img {
    margin: auto;
}

/* Resources */

.coming-soon {
    margin-top: 130px;
    margin-left: 20px;
}
section .wrapper.endless {
    border: none;
}